doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./favicon.ico")

    title ppEditor
  body 
    section
      a(href = './')
        button#randomDraw() ランダムな盤面を表示する
      .panelTableContainer#viewer
        - for (let i = 0; i < 72; i++)
          .panel
      .copybox
        textArea#URL_random(type="text" value="URL ZONE" readonly)
        button#copybutton_random 盤面をｺﾎﾟｲｰ
    section
      p Click to Edit
      .panelTableContainer#editor
        - for (let i = 0; i < 72; i++)
          .panel.editable.dummy
      .preview
        .panel.red.sample
        .panel.sky.sample
        .panel.yellow.sample
        .panel.green.sample
        .panel.purple.sample
        .panel.dummy.sample
      .copybox
        textArea#URL_edited(type="text" value="URL ZONE" readonly)
        button#copybutton_edited 作った盤面をｺﾎﾟｲｰ
script(src="./index.js") 