doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ppEditor
  body 
    section#viewer
      a(href = './')
        button#randomDraw() ランダムな盤面を表示する
      #panelTableContainer
        - for (let i = 0; i < 72; i++)
          .panel
    section#editor
      p jodi
      #panelTableContainer
        - for (let i = 0; i < 72; i++)
          .panel
script(src="./index.js") 