doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ppEditor
  body 
    section
      a(href = './')
        button#randomDraw() ランダムな盤面を表示する
      .panelTableContainer#viewer
        - for (let i = 0; i < 72; i++)
          .panel
      .copybox
        textArea#UniqueURL(type="text" rows = 5 cols = 35 value="URL ZONE" readonly)
        button#copybutton 盤面をｺﾎﾟｲｰ
    section
      p jodi
      .panelTableContainer#editor
        - for (let i = 0; i < 72; i++)
          .panel.editable.dummy
      .preview
        .panel.red
        .panel.sky
        .panel.yellow
        .panel.green
        .panel.purple
        .panel.dummy
script(src="./index.js") 