body
  min-height: 60vh
  display: grid
  grid-template-rows: 20px 1fr
  grid-gap: 10px
  margin: 20vh auto
  place-items: center
  background-color: #000

#panelTableContainer
  /* width: 180px */
  display: inline-grid
  grid-template-columns: 45px 45px 45px 45px 45px 45px
  grid-gap: 0px
  background-color: #000

.panel
  display: block
  box-sizing: border-box
  width: 45px
  height: 45px
  border-radius: 4px
  background-color: #233

.red
  background-image: url("./red.png")
  background-size: contain

.sky
  background-image: url("./sky.png")
  background-size: contain

.yellow
  background-image: url("./yellow.png")
  background-size: contain

.green
  background-image: url("./green.png")
  background-size: contain

.purple
  background-image: url("./purple.png")
  background-size: contain

.deep, .dummy
  background-color: #444


pre
  color: aliceblue


#hide
  display: none
